# Gradle
.gradle/
build/
**/build/
kotlin-js-store/
*.class

# IDE
.idea/
*.iml
.DS_Store

# Android
/app/google-services.json
local.properties
web/firebase-config.local.js
web/src/wasmJsMain/resources/firebase-config.local.js
.firebaserc

# Server secrets
service-account.json
*.env
.env

# Logs
*.log
firebase-adminsdk.json
.firebase/

# VSCode
.vscode/

# Compiled Output
bin/
